* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(120, 120, 141), rgb(39, 36, 36));
}

section {
    width: 330px;
    height: 530px;
    margin: auto;
}

.all_reels {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.reel1 {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    scroll-snap-align: start;
}

.reel1 img {
    width: 100%;
    height: 100%    ;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.bottom {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.profile {
    display: flex;
    align-items: center;
    gap: 4px;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
}

.profile>p {
    font-size: 20px;
}

.profile button {
    padding: 3px 6px;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}

.description {
    margin-top: 10px;
    text-align: center;
}

.description p {
    font-size: 23px;
}

.description span {
    color: lightblue;
    cursor: pointer;
}

.right {
    width: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    bottom: 15%;
    right: 0;
}

.right h3 {
    font-size: 30px;
}

.like,
.comment,
.share,
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

i {
    cursor: pointer;
    position: relative;
}

.right h3:active {
    transform: scale(0.95);
}

#small-img:active {
    transform: scale(0.95);
}

span:active {
    transform: scale(0.95);
}

.heart_box {
    width: 290px;
    height: 420px;
    position: absolute;
    top: 0;
}

.heart_box .like_heart {
    font-size: 100px;
    background: linear-gradient(50deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%) rotate(-50deg) scale(0);
    transition: all ease 0.3s;
}

.comment_box {
    width: 200px;
    position: absolute;
    right: -200px;
    transform: scale(0);
    transition: all ease 0.3s;
}

input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 5px;
}

.share_box {
    width: 200px;
    position: absolute;
    right: -200px;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transform: scale(0);
    transition: all ease 0.3s;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}